.accordion-button:not(.collapsed){
    background-color: white;
}

.accordion-button:focus{
    box-shadow: none;
}

.dropdown-item-mobile{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.dropdown-item-mobile-verTodo{
    font-size: 1.2rem;
    font-weight: 400;
}
