.formUpdateProduct{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.divFormUpdateProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
}