.sectionFooter{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.titleFooterSection{
    font-weight: 900;
}

.linkFooter{
    text-decoration: none;
    color: white;
    display: flex;
}

.linkFooter svg{
    margin-right: 0.5rem;
}

.mapReference{
    margin: 0;
}