.divFormAddProduct{
    max-width: 1300px;
    width: 100%;
}

.formAddProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    width: 70%;
}

.divFormAddProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}