.loginRegister{
    height: 50vh;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divLoginRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.divLoginRegister h2{
    margin-bottom: 1rem;
    font-weight: 800;
}

.formLoginRegister{
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
}

input {
    margin: 0.5rem 0.5rem;
}

label{
    margin-bottom: 1rem;
}

@media screen and (max-width: 570px) {
    .formLoginRegister label{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    .formLoginRegister{
        padding: 1rem 0; 
    }
}