.divCartWidget{
    display: flex;
    justify-content: center;
}

.linkCart{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1300px) {

    .divCartWidget{
        justify-content: end;
    }
}