header{
    background-color: white;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    width: 1200px;
    height: 6vh;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.logoHeader{
    height: 3rem;
    width: 3rem;
}

.logoCategoriesContainer{
    display: flex;
    align-items: center;
}

.logoCategoriesContainer .categories p{
    font-size: small;
    margin: 0.5rem;
}

.categories{
    margin-left: 1rem;
    display: flex;
}

.searchBarCartContainer{
    display: flex;
    align-items: center;
}