header{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: box-shadow 0.3s ease-in-out;
    z-index: 1000;
}

.headerShadow{
    box-shadow: 0 1px 20px black;
}

nav{
    display: flex;
    width: 1300px;
    height: 7vh;
    padding: 0.5rem 1rem 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
}

.logoHeader{
    height: 3rem;
    width: 3rem;
}

.logoCategoriesContainer{
    display: flex;
    align-items: center;
}

.logoCategoriesContainer .categories p{
    font-size: small;
    margin: 0.5rem;
}

.categories{
    margin-left: 1rem;
    display: flex;
}

.searchBarCartContainer{
    display: flex;
    align-items: center;
}