.divProductDetailContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cargandoProductoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}