.divUserInfoContainer{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .divUserInfoContainer{
        padding: 0 1rem;
    }
}