.carousel-item img{
    width: 100%;
}

@media screen and (max-width: 540px) {

    .carousel{
        width: 80%;
    }

    .divImgProductDetail{
        display: flex;
        justify-content: center;
    }
}