.carousel-item img{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .carousel{
        width: 80%;
    }

    .divImgProductDetail{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 510px) {
    .carousel{
        width: 100%;
    }
}