*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
}

*::-webkit-scrollbar{
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid grey;  /* creates padding around scroll thumb */
}