footer{
    width: 100%;
    background-color: black;
    padding: 3rem;
}

.sectionsContainer{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.linkFooter{
    margin: 0.5rem 0;
}

@media screen and (max-width: 1000px) {
    .sectionsContainer{
        flex-direction: column;
    }

    .sectionFooter{
        margin: 1rem 0;
    }
}