footer{
    width: 100%;
    background-color: black;
    padding: 3rem;
}

.sectionsContainer{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.linkFooter{
    margin: 0.5rem 0;
}

.sectionCopyright{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid grey;
}

.sectionCopyright p{
    color: grey;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .sectionsContainer{
        flex-direction: column;
    }

    .sectionFooter{
        margin: 1rem 0;
    }
}